*.swp
*.cache
*.pdb
*.dll
*.deps.json
*.props
*.targets
*.deps.jsons
*.runtimeconfig.*
*.FileListAbsolute.txt
*.CopyComplete
*.assets.json
/Jwt.Proxy/Jwt.Proxy/obj/Debug/netcoreapp2.0
/Jwt.Proxy/Jwt.Proxy.Website/obj/Debug/netcoreapp2.0
